@{
    ViewData["Title"] = "Clientes";
}


@model Cadeteria.VIewModels.ClienteViewModel


@if (@Model != null)
{
<h1>
    Pagina en construccion
</h1>    
}
else
{

    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>
            Aqui encontrará todos los clientes que realizaron algun pedido, podrá dar de baja alguno en particular
            o crear nuevos clientes.
        </p>
        <p>Para comenzar puede <a asp-action="Index" asp-controller="Login">iniciar sesión</a>.</p>
    </div>
}