@{
    ViewData["Title"] = "Asignar Vehiculo";
}

@model Cadeteria.VIewModels.AsignarVehiculoCadeteViewModel

<div class="container">
    <div class="row">
        <div class="col-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" asp-area="" asp-controller="Cadetes" asp-action="Index">Ultimos Cargados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Cadetes" asp-action="Alta">Nuevo Cadete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Cadetes" asp-action="ModificarCadete">Modificar Datos</a>
                </li>

            </ul>
        </div>
        <div class="col-9">
            <h1>¿Qué Vehiculo va a usar @Model.Nombre?</h1>
            <form asp-controller="Cadetes" asp-action="CargarVehiculo" method="post">

                <div class="form-group">
                    <h2>Seleccionar algun medio ya existente: </h2>
                    
                        <input type="text" asp-for="IdCadete" value="@Model.IdCadete" type="hidden" />
                        <select  class="form-control" asp-for="IdVehiculo" asp-items="@(new SelectList(Model.ListaDeVehiculos,"IdVehiculo","Tipo"))">
                        <option>
                            - Seleccione uno -
                        </option>    
                        </select>
                    
                </div>
                <input type="Submit" class="btn btn-primary">
                <a asp-action="" asp-controller="" class="btn btn-secondary">Cargar un nuevo vehiculo</a>

            </form>

        </div>
    </div>
</div>