@{
    ViewData["Title"] = "Pedidos";
}


@model Cadeteria.VIewModels.PedidoViewModel


@if (@Model != null)
{
    <h1>
        Pagina en construccion
    </h1>
}
else
{

    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>
            Los pedidos realizados, el estado de los mismos y muchos otros detalles están disponibles en
            esta sección.
        </p>
        <p>Para comenzar puede <a asp-action="Index" asp-controller="Login">iniciar sesión</a>.</p>
    </div>
}