@model List<Cadeteria.Entidades.Cadete>
    <div class="container">
        <div class="row">
            <div class="col-3">

                <div class="alert alert-info" role="alert">
                    Submenu
                </div>

            </div>
            <div class="col-9">
                <h1>Bienvenidx a CadeteriaML</h1>
            </div>
        </div>
    </div>
